mdurl==0.1.2
aiohappyeyeballs==2.6.1
PyYAML==6.0.3
protobuf==6.33.6
fsspec==2026.3.0
kornia_rs==0.1.10
tensorboard-data-server==0.7.2
requests==2.33.1
nvidia-nvtx==13.0.85
gitdb==4.0.12
nvidia-cuda-cupti==13.0.85
click==8.3.1
huggingface_hub==1.8.0
filelock==3.25.2
rich==14.3.3
Werkzeug==3.1.8
torchmetrics==1.9.0
aiohttp==3.13.5
ninja==1.13.0
aiosignal==1.4.0
MarkupSafe==3.0.3
setuptools==81.0.0
idr_torch==2.5.0
iniconfig==2.3.0
idr-accelerate==2.0.1
torchvision==0.26.0
multidict==6.7.1
hdf5storage==0.2.2
Pygments==2.20.0
six==1.17.0
grpcio==1.80.0
psutil==7.2.2
kiwisolver==1.5.0
lmdb==2.2.0
urllib3==2.6.3
ImageIO==2.37.3
cuda-pathfinder==1.5.0
nvidia-nccl-cu13==2.28.9
cuda-bindings==13.2.0
GitPython==3.1.46
nvidia-cuda-runtime==13.0.96
idna==3.11
pyparsing==3.3.2
propcache==0.4.1
nvidia-cusparselt-cu13==0.8.0
colorlog==6.10.1
kornia==0.8.2
anyio==4.13.0
annotated-doc==0.0.4
pytest==9.0.2
lightning-utilities==0.15.3
mpmath==1.3.0
smmap==5.0.3
matplotlib==3.10.8
Markdown==3.10.2
networkx==3.6.1
vsr==0.0.0
wandb==0.25.1
safetensors==0.7.0
pydantic==2.12.5
future==1.0.0
tqdm==4.67.3
imageio-ffmpeg==0.6.0
addict==2.4.0
sympy==1.14.0
scipy==1.17.1
annotated-types==0.7.0
h11==0.16.0
torch==2.11.0
scikit-image==0.26.0
fonttools==4.62.1
basicsr==1.4.2
nvidia-cusolver==12.0.4.66
accelerate==1.13.0
opencv-python==4.13.0.92
tifffile==2026.3.3
nvidia-cufile==1.15.1.6
nvidia-cufft==12.0.0.61
cycler==0.12.1
lazy-loader==0.5
platformdirs==4.9.4
sentry-sdk==2.57.0
typer==0.24.1
timm==1.0.26
httpx==0.28.1
nvidia-cuda-nvrtc==13.0.88
nvidia-cusparse==12.6.3.3
markdown-it-py==4.0.0
yapf==0.43.0
frozenlist==1.8.0
pytorch-lightning==2.6.1
typing_extensions==4.15.0
pillow==12.2.0
attrs==26.1.0
pip==26.0.1
nvidia-nvshmem-cu13==3.4.5
httpcore==1.0.9
pathlib==1.0.1
triton==3.6.0
pluggy==1.6.0
contourpy==1.3.3
hf-xet==1.4.3
lightning==2.6.1
typing-inspection==0.4.2
tb-nightly==2.21.0a20251023
pydantic_core==2.41.5
yarl==1.23.0
nvidia-cublas==13.1.0.3
einops==0.8.2
numpy==2.4.4
nvidia-nvjitlink==13.0.88
nvidia-curand==10.4.0.35
charset-normalizer==3.4.7
Jinja2==3.1.6
absl-py==2.4.0
nvidia-cudnn-cu13==9.19.0.56
cuda-toolkit==13.0.2
shellingham==1.5.4
packaging==26.0
h5py==3.16.0
certifi==2026.2.25
python-dateutil==2.9.0.post0
vsr==0.0.0
